
p{
  font-family : montesrrat;
}
.model{


font-size: 30px;
font-weight : bold ;
margin-left : 60px;
margin-bottom: 0px;




}



.touch {
margin-top : 0px;
text-decoration :underline;
font-size : 18px;

}

.order {
  font-size : 19px;
  font-style : light;
}

