.subscribe {

  background-color: rgb(200, 0, 0);
  color : white;

  border : none;
 padding-left: 25px;
 padding-right : 20px;

 padding-top : 10px;
 padding-bottom: 10px;
 font-size: 15px;


  border-radius: 3px;
  cursor: pointer;

  margin-right: 600px;


}

.subscribe : hover {
  backg


}
.subscribe{

opacity : 0.8;
  
}
.subscribe:active {

  opacity : 0.5;
}

.join:hover {

  background-color: rgb(46, 73, 227);
  color : white;
}





.join {

  background-color: white;
  color : rgb(46, 73, 227);
  border-color :rgb(46, 73, 227);
  border-style : solid ;
  border-width: 1px;

 padding-right: 25px;
 padding-top: 15px;
 


  cursor: pointer;
  border-radius: 3px;
  margin-right: 600px;

}
.tweet {

  background-color: rgb(27, 153, 225);
  color : white ;

  border-radius: 20px;
  height: 35px;
  width: 75px;
  border : none ;
  
font-size: 15px; 
font-weight: bold;

cursor: pointer;
margin-right : 600px;



}
.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.request {

  background-color: black;
  color : white ;
  height : 40px ;
  width : 120px;
  font-size: 15px;
  border : none ;
  cursor: pointer;
  transition: opacity 0.20s;
  margin-right: 6000px;
  
}
.request:hover {

  opacity : 0.75;
}

.amazon {

  background-color: rgb(249, 216, 20);
  color: black;
  width:215px;
  height:40px;
  border : none;
  border-radius: 30px;
  font-size: 20px;
  cursor : pointer ;
  transition: background-color 1s;
  margin-right: 600px;
}

.amazon:hover {

  background-color:rgb(244, 207, 0); ;
}

.sign {

  background-color: rgb(57, 154, 38);
  color : white ; 
  height : 40px;
  width :105px;
  border : none ;
  border-radius : 8px;
  font-size: 16px;
  cursor : pointer ;
  margin-right: 600px;

 
}

.sign:hover{
  box-shadow : 3px 5px 7px rgba(0, 0, 0, 0.2);
}

  .get{

    color : white ;
    background-color: rgb(121 , 92 , 179);
    border : none ;
    border-radius: 4px;
    height : 45px;
    width : 120px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer ;
  transition : opacity 0.20s;
  }
  
  .get:hover {

    opacity : 0.7 ;
  }
  .down{
  
    background-color:white;
    color :rgb(108, 117, 125);
    border : none ;
    border-radius : 5px;
  
    height : 45px ;
    width : 120px;
    border-width:1.5px;
    border-style: solid;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer ;
    margin-right: 600px;

    transition:  background-color 0.5s , color 1s;
  }
  
  .down:hover 
  { color: white  ;
  background-color :rgb(108, 117, 125);
}
  .apply {
  color :white;
  background-color: rgb(10,102,194);
  
  width : 283;
  height : 50px;
  border : none ;
  border-radius : 30px;
  font-size: 19.5px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 600px;
  

  }
  .save {
  
    color : rgb(10,102,194);
    background-color: white;
    height : 45px;
    width : 100px;
    margin-left: 7px;
    border-radius : 25px;
    border-color: rgb(66, 116, 198);
    border-width: 1.5px;
    font-size: 19px;
    font-weight: bold ;
 
  }

  .save:hover {

    background-color: rgb(175, 199, 239);
    border-color: rgb(10,102,194);
    border-style: solid ;
  }